<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shx.lawwh"
    android:installLocation="preferExternal"
    >
    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Base">
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="59f2f84e8f4a9d206d00006e" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="UMENNG" />

        <activity android:name=".activity.MainActivity" >

        </activity>
        <activity android:name=".activity.PdfViewActivity" />
        <activity android:name=".activity.WebActivity" />
        <activity android:name=".activity.LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LawActivity" >

        </activity>
        <activity android:name=".activity.SSActivity" />
        <activity android:name=".activity.ChemicalsActivity" />
        <activity android:name=".activity.LawSearchActivity" >

            </activity>
        <activity android:name=".activity.ChemicalsDetailsActivity" />
        <activity android:name=".activity.UnknownDetailsActivity"></activity>
        <activity android:name=".activity.UserGuideActivity"/>
        <activity android:name=".activity.RegisterActivity">

        </activity>

      <activity android:name=".activity.LoginActivity">

        </activity>
        <activity android:name=".activity.CompleteInfoActivity">

        </activity>

        <activity android:name=".activity.ChemicalsSeaarchResultActivity"></activity>
        <activity android:name=".activity.MainSearchActivity"></activity>
        <activity android:name=".activity.VersionActivity"></activity>
        <activity android:name=".activity.ProtocolActivity"></activity>
        <activity android:name=".activity.AboutUsActivity"></activity>
        <activity android:name=".activity.UserInfoActivity"></activity>
    </application>

</manifest>